<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://cavoco.github.io/Preview3MF/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>zlUL3u36R8JMeoq6jm2VNbAww8/iJLEVeYfEpCAuGzA=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>3D Manufacturing Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.preview3mf.3mf-file</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>3mf</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>model/3mf</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
